In [ ]:
import sqlite3

In [ ]:
db=sqlite3.connect("/content/sample_data/watches.db")
cr=db.cursor()

In [ ]:
import sqlite3

def get_int(prompt, allowed=None):
    while True:
        val = input(prompt).strip()
        if not val:
            print("Input cannot be empty.")
            continue
        try:
            num = int(val)
            if allowed and num not in allowed:
                print(f"Please enter one of {allowed}.")
                continue
            return num
        except ValueError:
            print("Please enter a valid integer.")

def pause():
    input("\nPress Enter to continue...")

def show_all(cursor, table):
    cursor.execute(f"SELECT * FROM {table}")
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    if not rows:
        print("(no rows)")

def main():
    db = sqlite3.connect("/content/sample_data/watches.db")  # adjust path/name as needed
    cr = db.cursor()

    while True:
        print("\n************ Welcome *************")
        print("Choose the table:")
        print("1 - brands")
        print("2 - watches")
        print("3 - users")
        print("4 - recommendations")
        print("5 - reviews")
        print("6 - features")
        print("7 - Exit")

        choice = get_int("Enter the number of table: ", allowed=range(1, 8))

        if choice == 1:  # brands
            while True:
                print("\n-- Brands Menu --")
                print("1 - Show all brands")
                print("2 - Delete brand")
                print("3 - Update brand")
                print("4 - Back")
                command = get_int("Enter your choice: ", allowed=range(1, 5))
                if command == 1:
                    show_all(cr, "brands")
                    pause()
                elif command == 2:
                    brand_id = input("Enter the brand_id to delete: ").strip()
                    if brand_id.isdigit():
                        cr.execute("DELETE FROM brands WHERE brand_id = ?", (int(brand_id),))
                        db.commit()
                        print("Deleted if existed.")
                    else:
                        print("Invalid id.")
                    pause()
                elif command == 3:
                    name = input("Enter current name of brand: ").strip()
                    new_name = input("Enter new name of brand: ").strip()
                    if name and new_name:
                        cr.execute("UPDATE brands SET brand_name = ? WHERE brand_name = ?", (new_name, name))
                        db.commit()
                        print("Updated if matched.")
                    else:
                        print("Names cannot be empty.")
                    pause()
                else:  # 4
                    break

        elif choice == 2:  # watches
            while True:
                print("\n-- Watches Menu --")
                print("1 - Show all watches")
                print("2 - Sort watches by price")
                print("3 - Show watches with number of features")
                print("4 - Back")
                command = get_int("Enter your choice: ", allowed=range(1, 5))
                if command == 1:
                    show_all(cr, "watches")
                    pause()
                elif command == 2:
                    cr.execute("SELECT * FROM watches ORDER BY watch_price")
                    rows = cr.fetchall()
                    for r in rows:
                        print(r)
                    pause()
                elif command == 3:
                    cr.execute("""
                        SELECT w.watch_id, COUNT(wf.feature_id) AS num_of_features
                        FROM watches_features wf
                        JOIN watches w ON wf.watch_id = w.watch_id
                        GROUP BY w.watch_id
                    """)
                    rows = cr.fetchall()
                    for r in rows:
                        print(r)
                    pause()
                else:
                    break

        elif choice == 3:  # users
            while True:
                print("\n-- Users Menu --")
                print("1 - Show all users")
                print("2 - Show number of watches by user")
                print("3 - Update user")
                print("4 - Back")
                command = get_int("Enter your choice: ", allowed=range(1, 5))
                if command == 1:
                    show_all(cr, "users")
                    pause()
                elif command == 2:
                    cr.execute("""
                        SELECT user_id, COUNT(watch_id) AS num_of_watches
                        FROM watches_users
                        GROUP BY user_id
                    """)
                    rows = cr.fetchall()
                    for r in rows:
                        print(r)
                    pause()
                elif command == 3:
                    name = input("Enter current name of user: ").strip()
                    new_name = input("Enter new name of user: ").strip()
                    if name and new_name:
                        cr.execute("UPDATE users SET user_name = ? WHERE user_name = ?", (new_name, name))
                        db.commit()
                        print("Updated if matched.")
                    else:
                        print("Names cannot be empty.")
                    pause()
                else:
                    break

        elif choice == 4:  # recommendations
            while True:
                print("\n-- Recommendations Menu --")
                print("1 - Show all recommendations")
                print("2 - Show watches based on recommendations")
                print("3 - Back")
                command = get_int("Enter your choice: ", allowed=range(1, 4))
                if command == 1:
                    show_all(cr, "recommendations")
                    pause()
                elif command == 2:
                    cr.execute("""
                        SELECT w.watch_id, COUNT(r.recommendation_id) AS num_of_recommendations
                        FROM recommendations r
                        INNER JOIN watches w ON r.watch_id = w.watch_id
                        GROUP BY w.watch_id
                        ORDER BY num_of_recommendations DESC
                    """)
                    rows = cr.fetchall()
                    for r in rows:
                        print(r)
                    pause()
                else:
                    break

        elif choice == 5:  # reviews
            while True:
                print("\n-- Reviews Menu --")
                print("1 - Show all reviews")
                print("2 - Show reviews with rating 5")
                print("3 - Back")
                command = get_int("Enter your choice: ", allowed=range(1, 4))
                if command == 1:
                    show_all(cr, "reviews")
                    pause()
                elif command == 2:
                    cr.execute("SELECT * FROM reviews WHERE rating = ?", (5,))
                    rows = cr.fetchall()
                    for r in rows:
                        print(r)
                    pause()
                else:
                    break

        elif choice == 6:  # features
            while True:
                print("\n-- Features Menu --")
                print("1 - Show all features")
                print("2 - Back")
                command = get_int("Enter your choice: ", allowed=range(1, 3))
                if command == 1:
                    show_all(cr, "features")
                    pause()
                else:
                    break

        else:  # choice == 7
            print("Bye.")
            break

    cr.close()
    db.close()

if __name__ == "__main__":
    main()

************ Welcome *************
Choose the table:
1 - brands
2 - watches
3 - users
4 - recommendations
5 - reviews
6 - features
7 - Exit
Enter the number of table: 2

-- Watches Menu --
1 - Show all watches
2 - Sort watches by price
3 - Show watches with number of features
4 - Back
Enter your choice: 1
(1, 1, 'Rolex Submariner', 'Stainless Steel', 7500, 'Male', 'Luxury')
(2, 1, 'Rolex Datejust', 'Gold', 9000, 'Female', 'Luxury')
(3, 2, 'Omega Speedmaster', 'Stainless Steel', 6500, 'Male', 'Sport')
(4, 2, 'Omega Seamaster', 'Titanium', 7200, 'Male', 'Diver')
(5, 3, 'Casio G-Shock', 'Resin', 200, 'Male', 'Sport')
(6, 3, 'Casio Sheen', 'Stainless Steel', 180, 'Female', 'Fashion')
(7, 4, 'Seiko Presage', 'Stainless Steel', 500, 'Male', 'Classic')
(8, 4, 'Seiko Astron', 'Titanium', 1200, 'Male', 'Modern')
(9, 5, 'Tag Heuer Carrera', 'Stainless Steel', 3500, 'Male', 'Sport')
(10, 5, 'Tag Heuer Aquaracer', 'Stainless Steel', 2800, 'Female', 'Diver')
(11, 6, 'Citizen Eco-Drive', 'Stainless Steel', 300, 'Male', 'Minimalist')
(12, 6, 'Citizen L Sunrise', 'Gold', 450, 'Female', 'Elegant')
(13, 7, 'Tissot Le Locle', 'Stainless Steel', 600, 'Male', 'Classic')
(14, 7, 'Tissot PRX', 'Stainless Steel', 500, 'Male', 'Modern')
(15, 8, 'Patek Philippe Nautilus', 'Gold', 28000, 'Male', 'Luxury')
(16, 8, 'Patek Philippe Calatrava', 'Gold', 25000, 'Female', 'Luxury')
(17, 9, 'Fossil Gen 6', 'Stainless Steel', 250, 'Male', 'Smartwatch')
(18, 9, 'Fossil Carlie', 'Leather', 150, 'Female', 'Fashion')
(19, 10, 'Longines Master', 'Stainless Steel', 2100, 'Male', 'Elegant')
(20, 10, 'Longines DolceVita', 'Gold', 2500, 'Female', 'Elegant')

Press Enter to continue...

-- Watches Menu --
1 - Show all watches
2 - Sort watches by price
3 - Show watches with number of features
4 - Back
Enter your choice: 2
(18, 9, 'Fossil Carlie', 'Leather', 150, 'Female', 'Fashion')
(6, 3, 'Casio Sheen', 'Stainless Steel', 180, 'Female', 'Fashion')
(5, 3, 'Casio G-Shock', 'Resin', 200, 'Male', 'Sport')
(17, 9, 'Fossil Gen 6', 'Stainless Steel', 250, 'Male', 'Smartwatch')
(11, 6, 'Citizen Eco-Drive', 'Stainless Steel', 300, 'Male', 'Minimalist')
(12, 6, 'Citizen L Sunrise', 'Gold', 450, 'Female', 'Elegant')
(7, 4, 'Seiko Presage', 'Stainless Steel', 500, 'Male', 'Classic')
(14, 7, 'Tissot PRX', 'Stainless Steel', 500, 'Male', 'Modern')
(13, 7, 'Tissot Le Locle', 'Stainless Steel', 600, 'Male', 'Classic')
(8, 4, 'Seiko Astron', 'Titanium', 1200, 'Male', 'Modern')
(19, 10, 'Longines Master', 'Stainless Steel', 2100, 'Male', 'Elegant')
(20, 10, 'Longines DolceVita', 'Gold', 2500, 'Female', 'Elegant')
(10, 5, 'Tag Heuer Aquaracer', 'Stainless Steel', 2800, 'Female', 'Diver')
(9, 5, 'Tag Heuer Carrera', 'Stainless Steel', 3500, 'Male', 'Sport')
(3, 2, 'Omega Speedmaster', 'Stainless Steel', 6500, 'Male', 'Sport')
(4, 2, 'Omega Seamaster', 'Titanium', 7200, 'Male', 'Diver')
(1, 1, 'Rolex Submariner', 'Stainless Steel', 7500, 'Male', 'Luxury')
(2, 1, 'Rolex Datejust', 'Gold', 9000, 'Female', 'Luxury')
(16, 8, 'Patek Philippe Calatrava', 'Gold', 25000, 'Female', 'Luxury')
(15, 8, 'Patek Philippe Nautilus', 'Gold', 28000, 'Male', 'Luxury')

Press Enter to continue...

-- Watches Menu --
1 - Show all watches
2 - Sort watches by price
3 - Show watches with number of features
4 - Back
Enter your choice: 3
(1, 3)
(2, 3)
(3, 3)
(4, 3)
(5, 3)
(6, 3)
(7, 3)
(8, 3)
(9, 3)
(10, 3)
(11, 3)
(12, 3)
(13, 3)
(14, 3)
(15, 3)
(16, 3)
(17, 3)
(18, 3)
(19, 3)
(20, 3)

Press Enter to continue...

-- Watches Menu --
1 - Show all watches
2 - Sort watches by price
3 - Show watches with number of features
4 - Back
Enter your choice: 4

************ Welcome *************
Choose the table:
1 - brands
2 - watches
3 - users
4 - recommendations
5 - reviews
6 - features
7 - Exit
Enter the number of table: 4

-- Recommendations Menu --
1 - Show all recommendations
2 - Show watches based on recommendations
3 - Back
Enter your choice: 1
(1, 95, 1, 1)
(2, 70, 2, 9)
(3, 88, 3, 3)
(4, 92, 4, 12)
(5, 60, 5, 6)
(6, 75, 6, 8)
(7, 98, 7, 15)
(8, 85, 8, 14)
(9, 65, 9, 17)
(10, 50, 10, 18)
(11, 90, 11, 19)
(12, 80, 12, 20)
(13, 55, 13, 5)
(14, 82, 14, 6)
(15, 77, 15, 10)
(16, 68, 16, 11)
(17, 91, 17, 13)
(18, 96, 18, 15)
(19, 45, 19, 18)
(20, 99, 20, 20)

Press Enter to continue...

-- Recommendations Menu --
1 - Show all recommendations
2 - Show watches based on recommendations
3 - Back
Enter your choice: 2
(20, 2)
(18, 2)
(15, 2)
(6, 2)
(19, 1)
(17, 1)
(14, 1)
(13, 1)
(12, 1)
(11, 1)
(10, 1)
(9, 1)
(8, 1)
(5, 1)
(3, 1)
(1, 1)

Press Enter to continue...

-- Recommendations Menu --
1 - Show all recommendations
2 - Show watches based on recommendations
3 - Back
Enter your choice: 3

************ Welcome *************
Choose the table:
1 - brands
2 - watches
3 - users
4 - recommendations
5 - reviews
6 - features
7 - Exit
Enter the number of table: 3

-- Users Menu --
1 - Show all users
2 - Show number of watches by user
3 - Update user
4 - Back
Enter your choice: 1
(1, 'Ahmed Ali', 28, 'ahmed.ali@example.com', 'Male', 'Luxury, 5000')
(2, 'Sara Hassan', 24, 'sara.hassan@example.com', 'Female', 'Casual, 200')
(3, 'Mohamed Samir', 32, 'mohamed.samir@example.com', 'Male', 'Sport, 800')
(4, 'Noura Youssef', 27, 'noura.youssef@example.com', 'Female', 'Elegant, 1500')
(5, 'Omar Khaled', 35, 'omar.khaled@example.com', 'Male', 'Classic, 1200')
(6, 'Hana Adel', 22, 'hana.adel@example.com', 'Female', 'Modern, 300')
(7, 'Mostafa Fathy', 40, 'mostafa.fathy@example.com', 'Male', 'Luxury, 7000')
(8, 'Aya Magdy', 29, 'aya.magdy@example.com', 'Female', 'Minimalist, 250')
(9, 'Karim Nabil', 31, 'karim.nabil@example.com', 'Male', 'Casual, 400')
(10, 'Laila Mahmoud', 26, 'laila.mahmoud@example.com', 'Female', 'Fashion, 600')
(11, 'Hossam Tarek', 34, 'hossam.tarek@example.com', 'Male', 'Diver, 2000')
(12, 'Mona Sherif', 23, 'mona.sherif@example.com', 'Female', 'Luxury, 4500')
(13, 'Adel Fares', 37, 'adel.fares@example.com', 'Male', 'Pilot, 3500')
(14, 'Reem Fawzy', 21, 'reem.fawzy@example.com', 'Female', 'Casual, 150')
(15, 'Tamer Lotfy', 29, 'tamer.lotfy@example.com', 'Male', 'Classic, 1100')
(16, 'Salma Hisham', 30, 'salma.hisham@example.com', 'Female', 'Elegant, 2000')
(17, 'Youssef Zaki', 28, 'youssef.zaki@example.com', 'Male', 'Minimalist, 300')
(18, 'Nadine Omar', 25, 'nadine.omar@example.com', 'Female', 'Sport, 500')
(19, 'Khaled Amr', 36, 'khaled.amr@example.com', 'Male', 'Luxury, 8000')
(20, 'Farah Gamal', 27, 'farah.gamal@example.com', 'Female', 'Fashion, 900')

Press Enter to continue...

-- Users Menu --
1 - Show all users
2 - Show number of watches by user
3 - Update user
4 - Back
Enter your choice: 3
Enter current name of user: Ahmed Ali
Enter new name of user: Fadi Medhat
Updated if matched.

Press Enter to continue...

-- Users Menu --
1 - Show all users
2 - Show number of watches by user
3 - Update user
4 - Back
Enter your choice: 1
(1, 'Fadi Medhat', 28, 'ahmed.ali@example.com', 'Male', 'Luxury, 5000')
(2, 'Sara Hassan', 24, 'sara.hassan@example.com', 'Female', 'Casual, 200')
(3, 'Mohamed Samir', 32, 'mohamed.samir@example.com', 'Male', 'Sport, 800')
(4, 'Noura Youssef', 27, 'noura.youssef@example.com', 'Female', 'Elegant, 1500')
(5, 'Omar Khaled', 35, 'omar.khaled@example.com', 'Male', 'Classic, 1200')
(6, 'Hana Adel', 22, 'hana.adel@example.com', 'Female', 'Modern, 300')
(7, 'Mostafa Fathy', 40, 'mostafa.fathy@example.com', 'Male', 'Luxury, 7000')
(8, 'Aya Magdy', 29, 'aya.magdy@example.com', 'Female', 'Minimalist, 250')
(9, 'Karim Nabil', 31, 'karim.nabil@example.com', 'Male', 'Casual, 400')
(10, 'Laila Mahmoud', 26, 'laila.mahmoud@example.com', 'Female', 'Fashion, 600')
(11, 'Hossam Tarek', 34, 'hossam.tarek@example.com', 'Male', 'Diver, 2000')
(12, 'Mona Sherif', 23, 'mona.sherif@example.com', 'Female', 'Luxury, 4500')
(13, 'Adel Fares', 37, 'adel.fares@example.com', 'Male', 'Pilot, 3500')
(14, 'Reem Fawzy', 21, 'reem.fawzy@example.com', 'Female', 'Casual, 150')
(15, 'Tamer Lotfy', 29, 'tamer.lotfy@example.com', 'Male', 'Classic, 1100')
(16, 'Salma Hisham', 30, 'salma.hisham@example.com', 'Female', 'Elegant, 2000')
(17, 'Youssef Zaki', 28, 'youssef.zaki@example.com', 'Male', 'Minimalist, 300')
(18, 'Nadine Omar', 25, 'nadine.omar@example.com', 'Female', 'Sport, 500')
(19, 'Khaled Amr', 36, 'khaled.amr@example.com', 'Male', 'Luxury, 8000')
(20, 'Farah Gamal', 27, 'farah.gamal@example.com', 'Female', 'Fashion, 900')

Press Enter to continue...

-- Users Menu --
1 - Show all users
2 - Show number of watches by user
3 - Update user
4 - Back
Enter your choice: 4

************ Welcome *************
Choose the table:
1 - brands
2 - watches
3 - users
4 - recommendations
5 - reviews
6 - features
7 - Exit
Enter the number of table: 7
Bye.

In [ ]:
cr.execute("PRAGMA table_info(brands)")
schema = cr.fetchall()
for col in schema:
    print(col)

(0, 'brand_id', 'INTEGER', 0, None, 1)
(1, 'brand_name', 'TEXT', 0, None, 0)
(2, 'founded_year', 'INTEGER', 0, None, 0)
(3, 'country', 'TEXT', 0, None, 0)